[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-socketio = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
flask-httpauth = "*"
pymysql = "*"
sqlalchemy = "<1.4"
flake8-flask = "*"
flask-cors = "*"
pyyaml = "*"
marshmallow = "*"
marshmallow-enum = "*"
unidecode = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
